[2014-09-29 20:21] elg0nz opened #6 "This is being developed in closed source."
Open Source it, please!

[2015-02-07 03:09] sideshowcoder commented on #6
I think this is done right ;)

[2015-02-07 03:10] sideshowcoder opened #8 "Setup Travis for automated testing"
Would be nice to have the tests run for the PRs and see how circuitbox is doing.

[2015-02-09 21:37] elg0nz commented on #6
Yes. thanks @yarmand !

[2015-02-09 21:37] #6 closed

[2015-02-19 08:40] #8 closed

[2015-02-19 08:43] sideshowcoder opened #10 "Faraday Middleware should not throw away response information"
it would be good when circuit is open to return the NullResponse with the original_response encapsulated into it. That's because we losing information on the consumer side at the time that the circuit opens.

[2015-02-24 09:15] #10 closed

[2015-03-26 13:06] sideshowcoder opened #12 "Faraday middleware enhancement"
By @yarmand
"It would be nice to have circuit breakers reading config parameters from an external place. Circuitbox accept Proc objects as parameters, so these could talk to a configurator object that read parameters from outside. In the Yammer worlds, it ideally would go to the breakerbox to read them."

Applies to the faraday middlware.

[2015-04-16 10:54] yarmand opened #15 "internal stats should go"
Doing stats should not be the responsibility of this gem.
We do not use this anymore on production as we are using the ActiveSupport instrumentation to send metrics when signals are emitted by circuitbox.

So we should kill CircuitBox#stat_storage

[2015-04-17 09:28] sideshowcoder opened #16 "Faraday middlware does not work with parallel requests"
The Faraday middlware will always return a `NullResponse` to wrap the the return value if the request uses the `connection.in_parallel do ... end` way of running the requests. The reason being the when run in parallel the requests always return `nil` while in the block and will resolve later to their result when the block is done see [the faraday wiki](https://github.com/lostisland/faraday/wiki/Pa

[2015-04-20 09:54] #16 closed

[2015-04-20 10:00] sideshowcoder opened #19 "Next release"
see README changelog verion next. Should probably be a 0.9.1 as there only have been additions no deprecations.

- [x] bump verision
- [x] push to rubygems

[2015-04-20 10:17] sideshowcoder opened #20 "Fix partition hack"
From the TODOLIST in the README

[2015-04-20 10:17] sideshowcoder opened #21 "Use single state variable"
Have one circuit per machine.

[2015-04-20 10:18] sideshowcoder opened #22 "Integration with breakerbox"
From the TODOLIST in the README

[2015-04-20 10:31] #19 closed

[2015-04-21 17:58] yarmand commented on #21
We need a shared place in memory for atomic increment/decrement of rates.

[2015-04-21 18:08] yarmand opened #24 "make notification not depend on ActiveSupport"

[2015-04-21 18:09] yarmand commented on #24
Notification should also be instantiated to not have to check they are available on every call.

[2015-04-21 18:14] sideshowcoder commented on #21
We probably want to enable the use of shared memory to save that. Maybe using https://github.com/pmahoney/process_shared or we can go with creating a small CExtentions, as I'm not sure we want to use FFI for this.

The basic Idea is that we pass a name of a shared memory section http://menehune.opt.wfu.edu/Kokua/More_SGI/007-2478-008/sgi_html/ch03.html and open it on every process to save the stat

[2015-04-21 18:45] sideshowcoder commented on #21
another Idea from the hacknight was to publish a notification of a nopen circuit to some system, which we could then react on on other machines or the same machine.

[2015-04-22 14:08] sideshowcoder commented on #12
I think this is covered by the integration with breakerbox

[2015-04-22 14:08] #12 closed

[2015-04-22 14:14] sideshowcoder opened #26 "API to force open/close a circuitbreaker"
An idea to share the state of circuitbreakers lead to the idea that we could publish state changes to a notification system, and trigger other circuitbreakers to follow along if it makes sense.

1. Circuitbreaker to service A opens on X
2. Circuitbreaker on X publishes a notifcation about that
3. Circuitbreaker on Y subscribes to the notification and forces open its circuitbreaker to A

We are alr

[2015-04-24 13:08] sideshowcoder commented on #21
Out of a conversation with Avdi Grimm came the idea to make it pluggable via Moneta which supports an awefull lot of stores https://github.com/minad/moneta

[2015-05-01 18:58] chiefcll opened #27 "Documentation error"
Under notifications section:

Rails.logger.warning("Open circuit for: #{circuit_name}")

Should be

Rails.logger.warn("Open circuit for: #{circuit_name}")

(there is no warning method on rails logger)

[2015-05-02 12:56] chiefcll opened #28 "Faraday Middleware creating two requests"
faraday_middleware.rb line 32
[code]

The check circuit runs the request which causes a successful request to be made and logged. Every request that fails first gets logged as successful and then as failed. Its doubling the number of requests. This affects the volume_threshold and stats. Looks like line 32 can just be deleted.

[2015-05-03 00:57] #27 closed

[2015-05-03 17:11] sideshowcoder commented on #28
Thanks for the Issue and the PRs I'll take a look at this when I'm back on tuesday, just wanted to let you know :+1:

[2015-05-04 14:34] chiefcll commented on #28
Great - I just cleaned up my patch... Added some tests to show what the problem was. Looks like the volume_threshold was doubled because it was making twice as many requests - So I cleaned that up a bit.

[2015-05-04 17:02] chiefcll opened #31 "Circuit is not opened after passing volume_threshold (no notification)"
If you have a volume_threshold of 5, and you have 6 failing requests - open? returns true - however the event is not logged because open! is not called until the 7th request.

I'll work on a patch for this.

[2015-05-05 10:02] sideshowcoder commented on #31
That seems indeed wrong, but as I'm a little fuzzy on the logic here @yarmand do you mind taking a look at this? This could either be a mistake in `open?` or in the logic to call `open!` thats why I feel more context might be helpful, either way the docs shoud be clearer on this I would say.

[2015-05-07 15:36] #28 closed

[2015-05-11 18:26] chiefcll opened #33 "Faraday middleware circuit breaker is catching all errors"
Currently, Circuitbox is catching all errors instead of catching just open circuit errors.
Line 38 Faraday_middleware should be changed to:
[code]

I expect the service should raise a Timeout Error etc when an actual call is made. The null / default response should only be returned when a call wasn't made due to the circuit being open.

[2015-06-16 17:59] nickcampbell18 commented on #33
I assume you're referring to [this line](https://github.com/yammer/circuitbox/blob/31da04ca805bd39b23d86cc6b57665a863520caa/lib/circuitbox/faraday_middleware.rb#L39)?

It should only catch two types of error:
* `OpenCircuitError`
* `ServiceFailureError`

Both of these are emitted by the Circuitbox library to declare either the service being unavailable, or receiving an unexpected response, but in

[2015-06-16 18:16] nickcampbell18 commented on #24
What would you propose instead? Injectable dependency? Some other library?

[2015-06-16 20:46] keram commented on #24
At ruby hacknight I tried tackle with active support extraction. It is still wip https://github.com/keram/circuitbox_activesupport_notifier https://github.com/keram/circuitbox/tree/activesupport_notifier_extraction but feel free share your thoughts if this could be alternative way to go ?

[2015-06-16 20:56] sideshowcoder commented on #24
Love it Ill take a look asap thanks so much!

[2015-06-17 15:10] yarmand commented on #24
@keram I like your implementation a lot !
You should rename the default notifier to be NullNotifier.
The AS notifier should stay in circuitbox just to be convenient I think.

[2015-06-17 15:14] sideshowcoder commented on #24
I think the best way to go would be to have it in circuitbox, but make it so you have to require it explicitly if you want the active support one.

[code]

Will use the `AS::Notifications` while

[code]

Gives you circuitbox without it, this is kind of the same behavior as the
`FaradayMiddleware` has. Then we can provide a `NullNotifier`, which circuitbox
defaults to if nothing is supplied and if

[2015-06-19 03:19] chiefcll commented on #33
Yes.

A ServiceFailureError is any non 200 response. The service made an actual request and got back a response (which I'd prefer to be returned) - that gets captured there and changed to a 503 with a default response. I'd prefer that you only get the default 503 error when a network request was never made because the circuit was open, rather than always getting that response on a non 200 response

[2015-06-19 06:26] sideshowcoder commented on #33
I see now what you meant there. The default behaviour is checking the response for success, but this behaviour is configurable by passing a block via the open_circuit option to the middleware. This block will get called to determine if the response should be regarded a failure that would count towards opening a circuit or not. Faraday itself only throws an exception for things like timeout by defa

[2015-06-20 03:29] chiefcll commented on #33
My bug was from version 10.0 - where it wasn't adding the error information. With 10.3 the changes should work fine. I'll close this out.

[2015-06-20 03:29] #33 closed

[2015-06-20 09:19] sideshowcoder commented on #33
Perfect thanks :)

[2015-06-26 11:28] nickcampbell18 opened #38 "Storage options"
I noticed that we support both `ActiveSupport::Cache::MemoryStore` and a `Memcache` store - did we consider [PStore](https://robm.me.uk/ruby/2014/01/25/pstore.html)?

I'm using Circuitbox in a lightweight Ruby service but where I might want to use statistics across multiple processes, and using `memcached` just for this feels a little heavy handed.

[2015-08-10 20:19] elg0nz commented on #38
@nickcampbell18 one caveat is that the Storage engine must support ["expirable" keys]( https://github.com/yammer/circuitbox/blob/master/lib/circuitbox/memcache_store.rb#L18)

Redis, Memcache, and [ActiveSupport](http://guides.rubyonrails.org/caching_with_rails.html#cache-stores) support this, while Pstore doesn't.

[2015-08-11 10:53] sideshowcoder commented on #38
You might want to follow up on https://github.com/yammer/circuitbox/pull/34 this would allow us to use all kind of storage backends, but I would probably recommend again PStore as it has quite a high impact due to file locking and unlocking when re-read as a PStore can only ever be read in its entirety, not in parts.

[2015-08-11 10:55] nickcampbell18 commented on #38
Yes, closing this in favour of #34.

[2015-08-11 10:55] #38 closed

[2015-12-11 15:06] gottfrois opened #41 "Configurable error rates time window"
Today error rates are monitored within 1 minute time window. Would be nice if this could be configurable as well.

[2016-02-05 15:47] nickcampbell18 opened #45 "Circuit trips on 4xx errors"
Currently, we use the `Faraday::Response` method `#success?` to establish [if a request should trip the circuit](https://github.com/yammer/circuitbox/blob/3c270b8cb5393b7b80b9fe29752a8f0c1d1d5f0c/lib/circuitbox/faraday_middleware.rb#L26).

However, a circuit breaker should probably only trip when the destination is unable to handle the request, i.e. a 5xx server error. A 4xx error probably implies

[2016-02-05 15:48] nickcampbell18 commented on #45
@sideshowcoder If you need some help updating the readme or adding some information about this decision, let me know.

[2016-02-05 15:50] sideshowcoder commented on #45
@nickcampbell18 `0` should raise an exception in faraday so we are good here, as we catch this. Otherwise yes that should definatly be redefined, as we are close to `1.0` I think this is the time to change this.

[2016-02-05 15:59] sideshowcoder commented on #21
This has been implemented and merged.

[2016-02-05 15:59] #21 closed

[2016-02-05 15:59] #20 closed

[2016-02-08 15:25] yarmand commented on #45
I agree, 4xx overwhelming should be handled by the rate limiting mechanism server side.

[2016-02-12 15:06] #15 closed

[2016-02-12 15:20] #45 closed

[2016-02-23 21:09] metaskills opened #48 "Middleware: Provide EVEN MORE information to default_value handle"
So #35 added the error to the default value proc. In my work, I want the identifier so I can use that key to get a response from my cache. Would you be open to a pull request for this?

My thoughts would be to pass the `env` so I could just ask it for the URL. Are there other ways? Has anyone else been interested in making the default value a previous cached request?

cc @dwaller

[2016-02-24 12:18] sideshowcoder commented on #48
Actually I feel like this is already possible to get at with the current setup

[code]

will give you the url, as the response is linked back to the environment in faraday. Does this help?

In general I'm open to extending this as needed if there is more you need to get at, feel free to submit a PR :). Thanks for the feedback by the way, if my response is actually what you need I guess some additi

[2016-02-24 12:33] metaskills commented on #48
Timely reply. So that would work if I did indeed get a response back. But what about the cases where it raised an error, like timeouts? I would still need the env/request right?

[2016-02-24 12:45] metaskills commented on #48
So, let me play with this a bit. I believe I can hook into `circuit_open_value` method for the request and bring back a cached copy using the `request_env[:url]`. Using your advice, I can cache replies with a TTL using `response.env.url` as you mentioned above. Will report back later today. Thanks!

[2016-02-24 15:04] sideshowcoder commented on #48
Yes indeed in case of a timeout response would be `nil` I guess, so one option would be to actually set the original environment back in this case and wrapping it, that should keep it compatible with the current version. let me know how it works out, I think this is a great usecase and we should support that better, either via adding it to the docs or by working towards a new api to ease that.

[2016-02-25 09:22] yarmand opened #50 "Move to a sliding window algorithm"
circuitbox today uses a fixed time window based on constant time division.
We want to move to a sliding window model, where at any point in time `T`, we can read error rate on a windows of `T-∂t`.

[2016-02-26 12:03] metaskills commented on #48
@sideshowcoder Here is what I came up with. I am almost certain some patterns here are not the concern of this gem. But I did want to show where my head was and potential use cases. This implementation assumes:

* Cache write backups for each read, for each unique URL.
* That this middleware is inserted before my raise errors.
* Swallows all errors. Only one that happens is when the cache is empty

[2016-02-26 12:26] sideshowcoder commented on #48
Looks good, I really like the idea. The one thing I think that needs some investigation is if the injection in the open method would mess with the retry logic in circuitbox, I think not but am not completely confident in it so I think it warrants some extensive testing in this area. Other than that seems like something I would love to provide support for with circuitbox.

[2016-03-10 09:33] sebastian-julius opened #51 "Broken expires with new Moneta store"
With the latest 1.0.1 version of Circuitbox the circuits **don't close** again after an error!

In our Redis tests the asleep entry hadn't had a TTL but was endless (-1).

[2016-03-18 15:37] sebastian-julius commented on #51
@sideshowcoder have you had a chance to look into this?

[2016-03-18 18:52] sideshowcoder commented on #51
Sorry just saw this, I'm taking a look now. Sorry for taking so long!

[2016-03-18 18:54] #51 closed

[2016-04-12 13:32] sideshowcoder opened #55 "Cleanup test suite"
We have the tests in a somewhat odd state of living between minitest spec and minitest using assert style. For the sake of maintainablity we should unify this.

[2016-04-14 08:05] yarmand commented on #55
How do we decide the style to keep ?

[2016-04-21 13:34] sideshowcoder commented on #55
Closed with https://github.com/yammer/circuitbox/pull/56

[2016-04-21 13:34] #55 closed

[2016-10-12 21:02] glv opened #62 "Documented rake task (circuits:stats) appears not to exist"
The only appearance of "stats" in the code is the documentation and the `CircuitBreaker#stat_storage_key` method.

[2016-10-12 21:43] sideshowcoder commented on #62
Oh yes this was removed as part of separating circuitbox hard decency on rails... The docs need to be updated thanks!

[2017-02-12 14:43] guyisra opened #64 "Using Moneta for Redis, circuitbreaker redis keys don't expire"
I use Moneta with

[code]

in a faraday middleware configuration

But I see that circuit breaker creates keys in redis that don't expire.

The key looks like

`circuits:ServiceName::stats:1486909800:success`

I know that #52 might have solved that, but for me at least it didn't.
Should I manually set the expiry somewhere, or am I missing a configuration?

[2017-02-12 16:08] #64 closed

[2017-03-16 01:13] nate00 opened #69 "Allow disabling Timeout::timeout"
Can we make it so that setting `timeout_seconds: nil` disables timeouts?

Some people might not want to use Ruby's `Timeout::timeout` method. [This blog post](http://www.mikeperham.com/2015/05/08/timeout-rubys-most-dangerous-api/) gives some reasons why. (They'll probably use a different timeout mechanism within the `run` block.)

It looks like we can disable the use of `Timeout` by removing `Time

[2017-03-16 07:14] matthewshafer commented on #69
Thanks @nate00. I've created a PR to allow ```timeout_seconds: nil``` to disable the use of timeout for a circuit.

Once again, Thank you for opening an issue about this!

[2017-03-16 15:43] nate00 commented on #69
Awesome, thanks for your responsiveness!

(And I'm perfectly happy with either `timeout_seconds: nil` or `timeout_seconds: :disabled` as suggested by sideshowcoder on that PR.)

[2017-07-28 08:52] luizkowalski opened #74 "Once circuit is open, it never closes"
I have the following configuration

[code]
and in the controller:

[code]

once the circuit is open, no matter how long I wait, it never closes again.
I'm using Rails 5.1.2 with Ruby 2.4.1

[2017-07-28 09:18] luizkowalski commented on #74
note: when using Redis as backend, it works. I'm seeing this using on memory backend

[2017-07-28 16:21] sideshowcoder commented on #74
What server are you using? Be aware that the Memory backend is not threadsafe.

[2018-02-12 04:11] bjeanes commented on #74
I am seeing this with File backend

[2018-02-15 12:20] shs96c opened #79 "New release of circuitbreaker"
It's been almost a year since the last release of circuitbreaker, and since then a reasonable number of changes have been merged. Could you please release a new version of the gem?

[2018-02-15 17:03] yarmand commented on #79
You are absolutely right @shs96c , thank you for reminding us.
@matthewshafer There is a few changes that are more than fixes in the changelog, should we go for V1.2.0 ?

[2018-02-15 17:42] matthewshafer commented on #79
@yarmand It would be v2.0.0 since there are some breaking changes currently in the master branch. There are a few other minor things to get done first (like testing under 2.5) before we should make a release. I might have some time this weekend to do that.

[2018-02-19 18:13] sideshowcoder commented on #74
Yes expire relies on the moneta functionality, not well documented I, sorry about that.

[2018-03-13 09:38] alsutton commented on #79
Is there any update on the release? We're currently using a fork with the PR merged in so it'd be nice to return to the source of truth.

[2018-03-14 08:08] matthewshafer commented on #79
I've still been working on quite a few changes. A few were merged last week and there's a few in progress. Some of these have changed the api a bit and some I'm working on will too. So far it hasn't been anything too drastic, mostly things that don't have much documentation already.

I'm not sure if putting some of the todos for releases on github would help, if it does let me know and I can look

[2018-04-10 07:56] #62 closed

[2018-04-10 08:25] matthewshafer opened #93 "Remove active support dependency"
Circuitbox has a runtime dependency on ActiveSupport for more than just notifications. We've used ActiveSupport methods throughout circuitbox and the test suite. Over time I have been able to clean some of these up but I think it's time to make ActiveSupport an optional dependency.

[2018-04-10 08:27] matthewshafer opened #94 "Reduce object allocations by debug logging"
Debug logging currently allocates a significant amount of objects per run of a circuit. We should be able to reduce this significantly.

[2018-04-10 08:34] matthewshafer opened #95 "Improve use of time_class"
Currently time_class is always ```Time```. The one issue we could run into with this is if the clock is rolled back causing stats to either re-surface or the circuit to stay open for significantly longer.

Like the execution timer we can provide a simple way to use the monotonic time where available from ruby. This would only be useful when the circuit store is in memory or on the same machine and

[2018-04-10 08:42] matthewshafer opened #96 "Enable thread safe moneta in memory store by default"
Currently the default moneta store is not created with thread safety enabled, this should be changed.

[2018-04-17 05:48] #93 closed

[2018-05-05 03:56] #96 closed

[2018-06-01 16:00] philsturgeon opened #101 "Using Farady's raise_error middleware causes circuits to never open"
I have a repeatable issue, where circuits will remain closed on multiple failures when using the Faraday middleware.

[code]

Just to show, the last few lines:

[code]

I guess the exception is causing the circuitbreaker logic to be skipped. I'm going to dig into this now as we need it at work, but if you have any tips on how to write a failing test for your test suite that'd be great.

[2018-06-01 17:07] sideshowcoder commented on #101
`raise_error` is implemented as a FaradayMiddleware if I remember right so I guess the error is due to ordering of the middlewares, looking at

https://github.com/yammer/circuitbox/blob/master/lib/circuitbox/faraday_middleware.rb#L42

it looks like when the you have the inner (aka later installed) middleware raising an error this error might not be wrapped in a circuitbox error and therefor bypass

[2018-06-01 18:38] philsturgeon commented on #101
Ha, yeah @sideshowcoder you're spot on. I had circuitbox _then_ raise, which I thought would work out fine. I just swapped em so that it's raise then circuitbox, and that seems to have worked!

I've pretty much finished #102 which will make the order irrelevant. Should I continue with this, or should we just add a note somewhere prominent saying (register raise_error **before** circuitbox if you w

[2018-06-03 14:39] sideshowcoder commented on #101
Personally I like to make the order irrelevant as it is a an error which is easy to make and hard to debug so I'm all for making the change in #102

[2018-06-04 14:55] philsturgeon commented on #101
I abandoned #102 for now, as a) I was having trouble getting it to work properly, and b) _vacaaaaation!_.

If you'd like to pick this up, I would really appreciate it. If I made the mistake somebody else will.

[2018-06-05 13:27] sideshowcoder commented on #101
Enjoy the time off :) and thanks for spending the time to debug this!

[2018-10-15 11:25] karthyfd opened #114 "Need a New Release version with changes including removing of timeouts"
I could see that 1.1.1 is the latest release version available. We want to incorporate the changes that recently went (https://github.com/yammer/circuitbox/pull/106/files). We could rely on master as there can be any breakages as well.  So could you please create a new tag and publish it in ruby gems, so that we can use the latest stable release version.

[2018-11-07 22:44] matthewshafer commented on #114
We'll have a release soon, probably a prerelease while I work on documentation and upgrade information.

Some of the breaking changes from 1.x are the removal of partitions, circuit options changed from attr_writer to attr_reader, removal of ruby timeout (which was already mentioned).

[2018-11-07 22:44] #114 closed

[2018-11-15 22:05] #94 closed

[2018-11-15 22:10] matthewshafer commented on #24
this was fixed in #99

[2018-11-15 22:10] #24 closed

[2018-12-13 08:38] matthewshafer commented on #79
It's probably good for a pre-release gem after I can get some colleagues to review my open pr's. These change Circuitbox quite a bit, #118 #119.

[2019-01-11 00:05] matthewshafer commented on #79
2.0.0.pre1 has been released to rubygems so I'm going to close out this issue.

I may make additional changes to circuitbox before 2.0.0.

[2019-01-11 00:05] #79 closed

[2019-01-14 11:49] alsutton commented on #79
Is there an ETA for a stable release? I don't think I'd be able to get the justification for the engineering effort needed to deploy a pre-release version which is still subject to change before a going full 2.0.

[2019-03-12 04:43] bjeanes opened #128 "DalliError: Response error 6: Incr/decr on a non-numeric value"
There is a comment in the code saying "yes we want a string here" but I don't understand how that behaviour is ever desirable. Furthermore, `incrementing` an empty value (at least in the handful of Moneta stores I tested) will create a value of `1` anyway.

https://github.com/yammer/circuitbox/blob/89aab2085dbf6f98ff7f8fc40a314103602f98da/lib/circuitbox/circuit_breaker.rb#L205-L214

In my case, I'

[2019-03-12 09:02] sideshowcoder commented on #128
As I'm the source of this comment, which I have to say was apparently not my brightest moment, here some explanation:

Depending on the underlying store (!), if you sent anything other than a string, the value might be serialised, so you end up with a serialised ruby object instead of the thing you were looking for. A way to work around that is to use a type which is natively implemented (for exam

[2019-03-12 20:29] bjeanes commented on #128
Thanks for the insight!

Is there any resolution you see other than upgrading to the pre-release version? I have a branch trying this but there are quite a lot of changes in semantics and API.

[2019-03-13 00:02] matthewshafer commented on #128
This was fixed with #86, more specifically this commit c54b4be5c9136be71048507a872dcfa05a9d8df0. The 2.0.0.pre1 release contains the fix, but it's a pre release so I totally understand not wanting to run it. I don't know how easily cherry-picking the commit onto your branch of 1.x would be (I've made significant changes to circuitbox in that time).

I'll take this time to mention that with circuit

[2019-03-13 00:31] bjeanes commented on #128
Yeah I suppose I could drop Moneta but in particular use-case I actually want the shared circuit-breaker across services. I have a out-of-process indexer to ElasticSearch and I want that indexing and user-facing searches to trip the same circuit when ES becomes unavailable. I suppose using in-memory and allowing them all to trip would work, but seems harder to debug if some processes have tripped

[2019-03-13 21:54] matthewshafer commented on #128
Thanks for the details on the experience with upgrading to 2.0. I'll put together an upgrade guide before 2.0.0 is released.

There are some details as to why ```Circuitbox.reset``` was removed in this commit 53fb72c904b98c78d609a697e22d8fbdc3a4e47f. ```Circuitbox.configure``` can be used to clear any cached circuits so in our test suite we combine that with setting a new in-memory store . This wo

[2019-03-13 23:01] bjeanes commented on #128
A test suite of mine consistently failed and the only place we run configure is in the initializer, but I can't rule out Rails' dev/test mode somehow re-running initializers. I've since refactored it to always invoke circuits fully configured, just in case /shrug

[2019-03-13 23:02] bjeanes commented on #128
I'm going to close this. It doesn't seem worth solving for the v1 branch and is resolved in v2 whether or not an external store is used.

Thanks for working through this with me. I'm now on v2 pre-release.

[2019-03-13 23:02] #128 closed

[2019-03-28 13:56] ritikesh opened #129 "uninitialized constant Circuitbox::Timer::Null (NameError)"
I'm getting this error on the latest pre version(2.0.0.pre1). It would seem that require_relative is missing for the other Timer classes.

[2019-05-20 18:16] davidrees commented on #79
Can 2.0.0 be released? It would be great to have the fixes to the half-open logic.

[2019-05-21 12:02] Sija commented on #129
I just run into this issue when trying to use `Circuitbox::Timer::Monotonic`.

[2019-05-27 20:36] #129 closed

[2019-06-20 17:55] davidrees opened #137 "2.0.0 Release"
Is there anything I can help work on to wrap up 2.0.0?

[2019-06-20 20:26] matthewshafer commented on #137
Yes! One of the changes I have yet to start is unifying the simple and monotonic timers (lib/circuitbox/timer/*) into a single timer that uses the monotonic clock on the system where that is available, if not falls back to something like simple timer.

There's a ton of documentation work to get done in regards to upgrading from 1.x to 2.x, public method documentation, and the readme (I have some l

[2019-06-26 14:05] davidrees commented on #95
I'm thinking the user should probably explicitly specify that they want to use the monotonic timer. In the case of `MemoryStore` we know that they are not centralizing the store across multiple machines (and so maybe we should automatically choose monotonic?), but with other stores it will be harder to infer.

And it will only make sense to choose this option if everything is running on a single m

[2019-06-27 23:56] matthewshafer commented on #95
You're understanding it correctly.

The way we use circuitbox is using an in-memory store, so for us it makes sense to have a monotonic clock as the default time for circuit keys. But I see how that's not useful for other use cases like using an external circuit store.

The ```time_class``` option is a somewhat awkwardly named option compared to the other circuit options and could make one think t

[2020-07-27 20:45] PLMspitts opened #147 "Clarify what :your_service is"
https://github.com/yammer/circuitbox#usage
Is `:your_service` in the readme, also used with `:yammer`, just something to identify the service you're using the circuit breaker on? Or is it supposed to be something specific? It should be clarified in the README.

[2020-07-28 20:14] PLMspitts commented on #147
I think I get it now; it's how you identify one "circuit", so you use one name for each circuit that can open, and they're treated as the same circuit. That should be added to the documentation

[2020-07-30 00:36] matthewshafer commented on #147
To answer your question, ```:your_service``` is just an identifier for the circuit you want to create or use (when ```Circuitbox.circuit``` is called). If you call ```Circuitbox.circuit(:your_service)``` multiple times you would be given the same circuit. If you call ```Circuitbox.circuit(:other_service)``` you'd get back a different circuit that doesn't share the same state (open, half_open, clos

[2020-07-30 14:54] PLMspitts commented on #147
Great! Then I'm all set, if documentation is going to be added :+1:

[2020-07-30 14:54] #147 closed

[2020-11-05 10:49] olegykz commented on #64
I have bumped into the same issue and it turned out that the reason is in the `Moneta` gem (at least versions 1.0.0 - 1.4.0) - their documentation tells about `expires: true` option while it accepts the only integer values (like `expires: 24.days.to_i`) - otherwise keys would have indefinite TTL

[2021-01-05 09:20] juliofalbo opened #152 "Is possible to open/close the circuit manually?"
I would like to implement the circuitbox but I need to have the ability to handle this manually, I mean, open/close manually.

And if yes, I also would like to know if can I use another strategy (like a SQL DB) to control the state of the circuit.

[2021-01-11 20:06] matthewshafer commented on #152
There aren't any plans to expose a public api to open/close a circuit manually. This could start to move Circuitbox into the realm of turning a feature on/off which would be better suited by other libraries. As far as storing the circuit state in a SQL database, it's possible if Moneta supports that but that would significantly increase the circuit latency and add additional failure cases.

[2021-01-25 18:41] silasb commented on #137
Any updates on this?  Seems like there is a healthy amount of commits going into `main`.   By chance is Yammer using this 2.0.0.pre4 on production?

[2021-01-26 00:13] matthewshafer commented on #137
Nope. I do have a bunch of documentation work to do first. Hopefully nothing crazy comes up. No joke every time I've been ready to release 2.0.0 I've spotted some issue. For example issues when circuit states change (hopefully it's better now).

Nope. I'll reach out to one of the other teams and see if they are interested in upgrading.

[2021-02-12 10:48] coding-bunny commented on #137
any progress on this, as we'd love to be able to upgrade to Faraday `~> 1.0` but circuitbox is the blocker in this.

[2021-05-25 01:41] beet opened #170 "Errno::EMFILE exceptions using Moneta with Redis backend"
Maybe this is more of a question for Moneta, but when deploying CircuitBox to production _(ECS containers in AWS)_, processes started raising `Errno::EMFILE` exceptions with messages like:

The circuit was configured with:

[code]

Was unable to reproduce locally, and haven't ruled out the possibility of it being ECS related, but is there a way to verify that CircuitBox's cache is actually using R

[2021-05-25 02:13] matthewshafer commented on #170
This seems to be a moneta issue but there's something you might want to check. Do you know what the resource limit is set too for the user the process is running under? We've seen issues (non circuitbox related) when we have the open file limit set to a small value.

[2021-05-25 02:25] beet commented on #170
Good question, will check. cheers

[2021-05-27 19:03] sideshowcoder commented on #170
Remember that TCP streams manifest as fails on unix so this error basically tells you that you can't open the TCP connection because the running user can't open more files. If you can check on the host, with the correct user what `ulimit` is set to.

[2021-05-31 00:01] beet commented on #170
Thanks, it's an ECS box that we spin up afresh with each deployment:

[code]

Looks like it's set to 1024.

Now I come to think of it, I'm using it to iterate through a collection of records, create a unique circuit breaker for each, and perform an action within it like:

[code]

Could that result in Circuitbox holding a TCP connection to Moneta for each record for the duration of the Ruby process

[2021-06-08 23:07] chrisplim opened #171 "How to use "open_circuit" option to open the circuit?"
When I defined an open_circuit lambda to capture a Typheous request timeout, the open_circuit code block is evaluated as I would expect, but a [RequestFailed exception is raised](https://github.com/yammer/circuitbox/blob/main/lib/circuitbox/faraday_middleware.rb#L63). I would have expected the exception to be caught and that failed request to count towards the error rate threshold for an open circ

[2021-06-08 23:49] matthewshafer commented on #171
Thanks for the report, I think I know what the problem may be. I'll work on getting this fixed.

[2021-06-10 16:23] chrisplim commented on #171
@matthewshafer Were you able to find out if the scenarios that I presented are valid, that there is a problem, and what the root cause is? What would the time estimate on a fix be?

[2021-06-14 20:26] matthewshafer commented on #171
The scenario's are valid. The issue is when running parallel requests faraday's methods return lambda's that get executed later. This means the circuit "finishes" executing before any request happens. It's unfortunate that the test suite doesn't test the parallel case where the circuit flips.

A quick workaround would be to not utilize parallel requests in faraday.

There are quite a bit of change

[2021-06-15 06:05] kolkheang commented on #171
Thanks @chrisplim for reporting this issue. I'm also facing this issue; and I've been trying to find an answer. I just double checked the code... it's using `in_parallel` to make parallel requests.

@matthewshafer thanks for looking into this. I'm interested in trying out the fix once you have it available. I'm currently working on a PoC with circuitbox gem in my project.

[2021-06-15 06:15] thrgamon opened #172 "Configuration readme outdated?"
Hi,

I had a go configuring some defaults using the example in the readme:

[code]

However, I got the following error `undefined method 'default_circuit_store='`. When I use `config.circuit_store` I no longer get the error. Am I missing something or is the readme outdated?

Many thanks,

Tom

[2021-06-15 08:47] matthewshafer commented on #172
Hey @thrgamon, which version of circuitbox are you using? The readme in main should work on 2.0.0.pre4.

If you are using a 1.x version [this readme](https://github.com/yammer/circuitbox/blob/v1.1.1/README.md) would be the one to check out.

[2021-06-17 23:54] chrisplim commented on #171
@matthewshafer You mentioned that a quick workaround would be to not utilize parallel requests in faraday. I used only typhoeus in my example below. The below implementation only breaks the circuit after a full round of parallel requests. I would guess this is expected. Is there a better way, or Is the below implementation similar to what you were thinking?
https://gist.github.com/chrisplim/e11eb9

[2021-06-21 09:57] matthewshafer commented on #171
What I was thinking is a little different because we need a way to not run the requests if the circuit is open.

The part that would be needed in the gist is to not queue a request in hydra if the circuit is open. While it's easy to check if a circuit is open that doesn't run any notifications/logging.

[2021-06-21 23:24] thrgamon commented on #172
Aha, yeah that's the ticket, thanks!

[2021-06-21 23:24] #172 closed

[2021-07-04 22:30] jayrapson commented on #137
@matthewshafer any updates on this? Would love to use this in an upcoming project but the official 1.1.x releases aren't compatible with Ruby 3.

Is there a list of known/open issues which are blocking the 2.0 release?

[2021-07-09 07:56] fabioperrella opened #173 "A public method to clear cached circuits in tests"
Hi!

It would be great to have a public method where we can clear cached circuits to use before each test run.

Today, one test can open a circuit and then it can cause failures in many others that use the same circuit.

This gets in the way to find the real culprit.

What about turning the method `Circuitbox.clear_cached_circuits!` into a public one?

[2021-08-04 19:49] cfmarques opened #178 "Circuitbox with moneta cache break my faraday requests when redis is with any connection error"
When we are using circuitbox with moneta cache with redis and the redis presents any connection error, the faraday requests are broken.

The error occours because the circuitbox faraday middleware:
https://github.com/yammer/circuitbox/blob/fdc9ba3725d63b1552d1c8672f56cb0c98d50ed5/lib/circuitbox/faraday_middleware.rb#L60

It try use the moneta with redis (Configurated previous as `circuit_store`) t

[2021-08-04 21:02] matthewshafer commented on #178
I've seen issues like this brought up before so I think I can answer all of your points and hopefully help with some ways to improve the situation you are running into.

I've heard about people using different circuit stores besides the in-memory one and it doesn't make sense for Circuitbox to handle all types of errors from every store. If Circuitbox did know how to handle many different stores e

[2021-08-10 23:37] #178 closed

[2021-08-13 15:58] VelocityKnight commented on #171
Has there been any progress on this fix?

[2021-08-16 07:00] beet commented on #170
Confirming that each new `Moneta` instance does seem to establish a new Redis connection, and can consistently reproduce:

[code]

I think it's catching a lower-level error; attempting to run any system command at this point fails with:

[code]

So this is user error on my part; I don't think CircuitBox is intended to be used to create an individual circuit for individual DB records, especially no

[2021-08-16 07:00] #170 closed

[2021-09-03 14:06] cfmarques commented on #178
Thank you so much @matthewshafer! 🙏  ❤️

Temporally we decided disable the "Circuitbox"" when the redis is out.

But, I think that the better approuch is create the wrapper as you suggest and when a storage service is out, we storage the requests in the other service storage. When the redis is up again, we move to redis.

[2021-12-14 06:54] ramontayag commented on #152
In my case, I want to avoid using exceptions for control flow, and instead open the circuit if the http status code is `429`, for example.

I'm still reading through issues and documentation to see if there's a way to do it with `open_circuit`.

[2021-12-26 10:17] matthewshafer commented on #152
@ramontayag If you are using the faraday middleware setting the `open_circuit` lambda should let you decide what status code(s) would be considered failed requests.

[2021-12-27 08:38] ramontayag commented on #152
I'm considering moving to Faraday for this. thanks @matthewshafer

[2021-12-27 09:34] matthewshafer commented on #171
After looking to see if the circuitbox faraday middleware could support faraday's parallel requests I've found that this won't work well with the current design of the middleware. With the middleware we are able return our own response object when things fail. In the parallel mode we are unable to return our own response object when the circuit is closed but the request fails. This is because para

[2022-02-10 17:52] #171 closed

[2022-02-28 08:54] matthewshafer commented on #173
Time permitting, I'll have this change merged in the next few days. Not sure if I'll keep the same method name or change it a bit.